@import '../partials/searchForm';

.container {
  & .heading {
    padding-left: 3em;
    & h1 {
      font-weight: 600;
      font-family: inherit;
    }
    & p {
      font-weight: 200;
    }
  }
}
