nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: transparent;
}

.logo {
  height: 1.4rem;
}

.portal {
  height: 1.5rem;
}

.box-session {
  display: flex;
  /* background: red; */
  align-items: center;
}
.box-session p {
  margin: 0;
  padding-right: 1em;
  color: rgb(107, 107, 107);
  font-weight: 500;
}

.fa-sign-out {
  color: #ef6665;
  font-size: 1.9rem;
  cursor: pointer;
}
