@media only screen and (min-width: 1224px) {
  nav {
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding: 1.3em;
    background-color: transparent;
  }

  .logo {
    height: 1.2rem;
  }

  .portal {
    height: 1.3rem;
  }

  .box-session p {
    margin: 0;
    padding-right: 1em;
    color: rgb(107, 107, 107);
    font-weight: 500;
  }

  .fa-sign-out {
    color: #ef6665;
    font-size: 1.7rem;
    cursor: pointer;
  }
}
