@import './partials/_searchForm.css';

@media only screen and (min-width: 1224px) {
  .container {
    height: 100%;
    /* background-color: red; */
    padding: 1em;
    display: flex;
    flex-direction: column;
  }

  .heading {
    display: flex;
    flex-direction: column;
    padding-left: 0.8em;
  }

  .heading p {
    color: grey;
    font-size: 0.8em;
  }

  .heading h1 {
    font-size: 1.3em;
    margin: 0;
    padding-bottom: 0.5em;
    color: rgb(39, 39, 39);
  }

  .separator {
    height: 1px;
    background-color: rgb(129, 129, 129);
    width: 92%;
    margin-bottom: 1em;
  }
}
